

.navbar-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  font-size: 30px;

  color: aliceblue;
  background-color: rgb(58, 57, 57) !important;
  height: 150px;
}

.links {
  display: flex;
  align-items: center;
  font-size: 25px;
}
.nav-link {
  color: rgb(243, 222, 32) !important;
  font-size: 30px !important;
  font-weight: bold !important;
}









 